<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://unpkg.com/delaunator@4.0.1/delaunator.min.js"></script> <!-- minified build -->
    <script src="https://unpkg.com/delaunator@4.0.1/delaunator.js"></script> <!-- dev build -->
    <script src="https://leafletjs.com/examples/choropleth/us-states.js"></script> <!-- dev build -->



    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""></script>

      {% load static %}

      <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>
 <div id="mapid"></div>

<form class="nes-container">
  Month :
  <select id="month" generated="{{ month }}">
  <option value="average" {% if month == "average" %}selected{% endif %}>Annual Average</option>
  <option value="january" {% if month == "january" %}selected{% endif %}>January</option>
  <option value="february" {% if month == "february" %}selected{% endif %}>February</option>
  <option value="march" {% if month == "march" %}selected{% endif %}>March</option>
  <option value="april" {% if month == "april" %}selected{% endif %}>April</option>
  <option value="may" {% if month == "may" %}selected{% endif %}>May</option>
  <option value="june" {% if month == "june" %}selected{% endif %}>June</option>
  <option value="july" {% if month == "july" %}selected{% endif %}>July</option>
  <option value="august" {% if month == "august" %}selected{% endif %}>August</option>
  <option value="september" {% if month == "september" %}selected{% endif %}>September</option>
  <option value="october" {% if month == "october" %}selected{% endif %}>October</option>
  <option value="november" {% if month == "november" %}selected{% endif %}>November</option>
  <option value="december" {% if month == "december" %}selected{% endif %}>December</option>
</select>

  | Min temp : <input id='tmin' value="{{ tmin }}" generated="{{ tmin }}"/> | Mid temp : <input id='tmid' value="{{ tmid }}" generated="{{ tmid }}"/> | Max temp <input id='tmax' value="{{ tmax }}" generated="{{ tmax }}"/> <input id="myButton" type="button" value="Compute">
</form>


<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        var month = document.getElementById("month").value
        var tmin = document.getElementById("tmin").value
        var tmid = document.getElementById("tmid").value
        var tmax = document.getElementById("tmax").value

        location.href = "http://127.0.0.1:8000/"+month+"/"+tmin+"/"+tmid+"/"+tmax;
    };
</script>
<script type="text/javascript" src="{% static 'map.js' %}"></script>
</body>
</html>
