#mapid{
  position: absolute;
  top: 100px;
  bottom: 0px;
  width: 100%;
}

form
{
  margin : 5px;
  color: white;
}

input
{
  width: 40px;
}

#myButton
{
  width: 130px;
}

body
{
  background-image: url("http://vidal-attias.io/web_mpri/brick.png");
  background-repeat: repeat;
  height: 100%;
  width: 100%;
  margin:0;
}
